@model Bookly.Models.Book

@{
    ViewData["Title"] = "Create";
}

<div class="container " style="margin: 200px">
<h4 class="mb-4">
    Create Book
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="desc" class="control-label"></label>
                <input asp-for="desc" class="form-control" />
                <span asp-validation-for="desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lang" class="control-label"></label>
                <input asp-for="lang" class="form-control" />
                <span asp-validation-for="lang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isbn" class="control-label"></label>
                <input asp-for="isbn" class="form-control" />
                <span asp-validation-for="isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datePub" class="control-label"></label>
                <input asp-for="datePub" class="form-control" />
                <span asp-validation-for="datePub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="urlImg" class="control-label"></label>
                <input asp-for="urlImg" class="form-control" />
                <span asp-validation-for="urlImg" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
             
                <input type="submit" value="Create" class="btn btn-primary"/>

            </div>
            
        </form>
    </div>
</div>

<div>
</div>

</div>