@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All roles";
}

<div class="container " style="margin: 200px">
<h4 class="mb-4">All Roles</h4>

<div class="mb-3">
    <a class="btn btn-primary" asp-action="AddRole">
        <i class="fa-solid fa-users"></i> Add Role
    </a>
</div>

@if (Model.Any())
{
    <table class="table table-striped col-md-6 mx-auto">
        <thead class="thead-light">
        <tr>
            <th scope="col">Role</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td class="text-center">
                    <a asp-action="EditRole" asp-route-id="@role.Id" class="mx-1"  >
                        <i class="fa-solid fa-pen-to-square"  style="color: #3a983c"></i>
                    </a>
                    <a asp-action="DeleteRole" asp-route-id="@role.Id" class="mx-1" >
                        <i class="fa-solid fa-trash-can"  style="color: #d42136"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        <h5 class="text-center">No roles yet, use the button above to add your first role.</h5>
    </div>
}
</div>